@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

:root {
    --yellow1: #664400;
    --yellow2: #CC8800;
    --yellow3: #FEC048;
    --yellow4: #FFe4ad;
    --yellow5: #FFF5e0;
    --purple1: #29204B;
    --purple2: #6245D9;
    --purple3: #8B74E7;
    --purple4: #C0A0FF;
    --purtple50:#EBE5FF;
    --purtple100:#CEC2FF;
    --blue50:#DEF3F8;
    --blue100:#B4E5EE;
    --neutral300: #D5D4DC;
    --neutral100: #F7F6F9;
    --neutral200: #E8E7E4;
    --neutral400:#B2B0BC;
    --neutral500: #908E9A;
    --elevation8:0px 4px 8px rgba(16,15,22,0.06);
    --elevation12:0px 6px 12px rgba(16,15,22,0.06);
    --elevation24:0px 12px 24px rgba(16,15,22,0.08);
    --elevation48:0px 24px 48px rgba(16,15,22,0.10);
  }


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'HK Grotesk', sans-serif;
   
}

h1{
    font-size: 36px;
}
h2{
    font-size: 32px;
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--purple1);
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;
    padding:2px 8px;
    overflow: auto;
}

.leftbar{
    height: 100vh;
    width: 100vw;
    color: var(--neutral100);
    background-color: var(--purple1);
    max-width: 240px;
   
}
.leftbar-body .body-top{
    margin-bottom: 40px;
    
}

.leftbar-body .body-bottom{
    margin-top: 40px;
    font-size: 14px;
    display: flex;
    align-content:flex-start;
   
}
.leftbar-body .body-footer{
    margin-top: 40px;
    font-size: 14px;
    display: flex;
    align-content:flex-start;
    box-sizing: border-box;
   
}


.leftbar-small{
    width: 80px;
}


.leftbar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftbar li{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    list-style: none;
    margin-left: 20px;  
    padding-left: 20px;
    padding: 6px; 
    cursor: pointer;
    border-radius: 2px;
    margin-right: 35px;
    width: fit-content;

}

.leftbar li:hover{
    background-color: var(--neutral500);
    
}

.leftbar hr {
    width:75%;
    margin:0 auto;
    color: var(--neutral300);
    height: 1px;
    color: var(--neutral300);
    background-color: var(--neutral300);
    border: none;
}

img{
    width: 80%;
    max-width: 600px;
}

.menuIcon{
    margin-left: 25px;
}
.helpIcon{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 287px;
}

.dashboard{
    height: 100vh;
    width: 100%;
    background-color: var(--neutral100);
}
.dashboard-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 30px 60px;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: auto;
    overflow: auto; 
}
.dashboard .dashboard-header ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.dashboard .dashboard-header ul li{
    display: flex;
    align-items: center;
    padding: 12px;
    list-style: none;
    cursor: pointer;
    
   
}

.dashboard .navbar-dashboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.dashboard .navbar-dashboard::after {
    content: "";
    width: 90%;
    height: 1px;
    background: var(--neutral500);
    position: absolute;
    bottom: -0.5px;
    left: 5%;
    right: 4%;
  }


.dashboard .navbar-dashboard ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 60px;


}
.dashboard .navbar-dashboard ul:first-of-type{
    color: var(--neutral500);

}
.dashboard .navbar-dashboard ul:second-of-type{
    display: flex;

}



.dashboard .navbar-dashboard ul li{
    list-style: none;
    padding: 15px 5px;
    
}

.dashboard .navbar-dashboard ul li:hover{
    border-bottom: 1px solid black;
    cursor: pointer;

}

.rightbar{
    width: 320px;
    background-color: var(--neutral200);
}


.overFlowMenu{
   position:absolute;
    overflow:hidden;
    text-align: center;
    z-index: 1;
    background-color:rgb(54, 53, 53);
    padding-top: 1%;
    margin-left: 3%;
    margin-right: 2%;
    padding-right: 1%;
    padding-bottom: 2%;
    box-sizing: border-box;
    border-radius: 5px;
    color: black;
    background-color: var(--neutral100);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);    
    font-size: larger;

}

.overFlowMenu li:hover{
    background-color: var(--neutral300);
}

.cards{
    padding: 30px 60px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: var(--neutral100);
    background-color:white;
    height:65px;
    width: 49%;
    border-radius: 5px;
    box-shadow: var(--elevation24);

}

.card .shipment{
    background-color:var(--blue100);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 5px;
}

.card .tasklocation{
    background-color:var(--purtple100);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 5px;
}
.card .card-header{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 12px;
    border-radius: 5px;
}

.card .arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 5px;
}

.cards .small-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
    

.numberCircle {
    display: inline-block;
    line-height: 0px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 800;
    background-color: rgb(252, 198, 97);

  }
  
  .numberCircle span {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 8px;
    margin-right: 8px;
  }

  .square-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: var(--neutral100);
    background-color:white;
    width:45%;
    height:65%;
    border-radius: 5px;
    box-shadow: var(--elevation24);  }


  @media only screen and (max-width: 768px) {
    .leftbar {
        height: 100vh;
        width: 100vw;
        color: var(--neutral100);
        background-color: var(--purple1);
        max-width: 240px;
        position: absolute;
        top: 49px;
        bottom: 0;
        left: 0;
    }
  }


  /* DASHBOARD */

  .dashboard-container{
   margin: 0 40px;
  }
  .dashboard-center{
     display:grid;
     
  }
